/* Start Variables */
:root{
    --main-color: #10cab7 ;
    --secondary-color: #2c4755 ;
    --section-padding:60px;
    --section-background:#f6f6f6
}
/* End Variables */

/* Start Global Rule  */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small Screen */

@media (min-width:768px){
    .container{
        width: 650px;
    }
}
/* Medium Screen */

@media (min-width:992px){
    .container{
        width: 870px;
    }
}
/* Large Screen */

@media (min-width:1200px){
    .container{
        width: 1000px;
    }
}
/* End Global Rule  */

/* Start Header  */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header .logo{
    width: 70px;
    height: 30px;
}
.header .link{
    display: flex;
    align-items: center;
    position: relative;
}
.header .link .icon{
    display: none;
}
.header .link ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header .link ul li {
    transition: 0.3s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.header .link ul li:not(:last-of-type){
    margin-right: 30px;
}
.header .link ul li a{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}
.header .link ul li:hover a{
    color:var(--main-color);
    font-weight: 800;
    text-shadow: 1px 100px 1px 10px;
}

/* start small screen */

@media (max-width:768px){
    
    .header .link .icon{
        width: 30px;
        height: 30px;
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
    }
    .header .link .icon::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 7px;
        display: none;
        border:10px solid transparent ;
        border-bottom-color:var(--main-color) ;
    }
    .header .link:hover .icon::after {
        display: block;
    }
    .header .link .icon span{
        position: absolute;
        width: 100%;
        background-color: #333;
        height: 2px;
        right: 0;
    }
    .header .link .icon span:first-of-type{
        top: 0px;
    }
    .header .link .icon span:nth-of-type(2){
        top: 14px;
        width: 70%;
        transition: 0.3s;
        -webkit-transition:;
        -moz-transition:;
        -ms-transition:;
        -o-transition:;
}
    .header .link .icon span:first-of-type{
        top: 23px;
    }
    .header .link:hover .icon span:nth-of-type(2){
        width: 100%;
    }
    .header .link ul{
        display: none;
    }
    .header .link:hover ul{
        display: block;
        position: absolute;   
        top: 43px;
        right: 5px;
        width: 180px;
        background-color:rgba(226, 235, 236, 0.521);
    }
    .header .link ul li{
        padding: 20px 30px 20px 15px;
        width: 100%;
        transition: 0.3s;
        -webkit-transition:;
        -moz-transition:;
        -ms-transition:;
        -o-transition:;
}
    .header .link ul li:not(:last-child){
        border-bottom: 2px solid white;
      }
    .header .link ul li:hover{
        padding-left: 30px;   
    }
    .header .link ul li a{
        color: rgb(46, 45, 45);
        font-weight: 600;
    }
    .header .link ul li:hover a{
        color:var(--main-color);
    }
}
/* end small screen */

/* End Header  */

/* Start Components */
.special-heading{
    font-size: 100px;
    font-weight: 800;
    color: #eee;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 15px;
    font-size: 17px;
    color: #797979;
    margin-bottom: 100px;
}
@media (max-width:676px) {
    .special-heading{
        font-size: 75px;
    }
.special-heading + p {
    margin-top: -25px ;
    font-size: 15px;
    margin-bottom: 100px;
}
}
/* End Components */

/* Start Landing */
.landing{
    height: calc(100vh - 70px);
    background-image: url(../images/intro.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.landing .intro-text{
    width: 380px;
}
.landing h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 0;
}

.landing p{
    font-size: 18px;
    line-height: 1.8;
}
/* End Landing */

/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap:20px;
}
.container .feat{
    text-align: center;
    padding:20px;
}
.container .feat i{
    font-size: 27px;
    color: var(--main-color);
}
.container .feat h3{
    font-weight: 700;
    margin: 35px 0 25px;
}
.container .feat p{
    line-height: 1.8;
    font-size: 16px;
    color:#777 ;
}
/* End Features */

/* Start Services  */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
}
.container .col .srv{
    display: flex;
    margin-bottom: 40px;
}
.container .col .srv i{
    margin-right: 25px;
    font-size: 25px;
    color: var(--main-color);
}
.container .col .srv .text h3{
    margin: -5px 0 20px;
    font-size: 18px;
}
.container .col .srv .text p{
    line-height: 1.7;
    color: #777;
    font-size: 16px;
}
.container .col .image{
    width: 200px;
    height: 300px;
    margin-left: 60px;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    background-color: #eee;
    position: relative;
}
.container .col .image::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 380px;
    background-color: rgb(0, 35, 110);
    right: -40px;
    top: -40px;
    z-index: -1;
}

@media (max-width:992px){
    .container .col .srv{
        text-align: center;
        margin-bottom: 50px;
        position: relative;
    }
    .container .col .srv i{
        margin-right: 0px;
        position: absolute;
        right: calc(50% - 12px);
    }
    .container .col .srv .text h3{
        margin: 55px 0 20px;
    }
    .container .col .image{
        display: none;
    }
}
/* End Services  */

/* Start Portofolio */
.portofolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portofolio .portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.portofolio .card:not(:last-child) {
    margin-bottom: 50px;
}
.portofolio .card .image{
    display: flex;
    justify-content: center;
}
.portofolio .card img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.portofolio .card .info{
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.portofolio .card .info h3{
    font-size: 18px;
}
.portofolio .card .info p{
    line-height: 1.7;
    color: #777;
    font-size: 16px;
}
/* End Portofolio  */

/* Start About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding) ;
}
.about .about-content{
    display: flex;
    justify-content: space-between;
}
.about .about-content .image{
    position: relative;
    display: flex;
    align-items: center;
}

.about .about-content img{
    margin-right: 200px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 280px;
    background-color: #eee;
    left: -40px;
    top: 25px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 160px;
    border-left: 50px solid var(--main-color);
    border-bottom: 50px solid var(--main-color);
    right:90px;
    top: 40px;
    z-index: -1;
}
.about .about-content .text{
    flex-basis: 500px;
}
.about .about-content .text p:first-of-type{
    line-height: 1.7;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}
.about .about-content .text hr{
    width:50% ;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 1.7;
    font-size: 16px;
}

@media (max-width:767px){
    .about .about-content{
        display: flex;
        flex-direction: column;
    }
    .about .about-content .image{
        margin-top: 0px;
    }
    .about .about-content .image img{
        margin-left: auto;
        margin-right: auto;
    }
    .about .about-content .image::before{
        content: "";
        display: none;
    }
    .about .about-content .image::after{
        content: "";
        display: none;
    }   
    
    .about .about-content .text{
        margin-top: 80px;
    }
    .about .about-content .text p:first-of-type{
        padding:0 20px 30px;
        font-size: 17px;
        text-align: justify;
    }
    .about .about-content .text p:last-of-type{
        padding:0 15px;
        font-size: 17px;
        text-align: justify;
    }
}

@media (max-width:991px){
    .about .about-content{
        display: flex;
        flex-direction: column;
    }
    .about .about-content .image{
        margin-top: 30px;
    }
    .about .about-content .image img{
        margin-left: auto;
        margin-right: auto;
    }
    .about .about-content .image::before{
        content: "";
        display: none;
    }
    .about .about-content .image::after{
        content: "";
        display: none;
    }   
    
    .about .about-content .text{
        margin-top: 100px;
    }
    .about .about-content .text p:first-of-type{
        padding:0 20px 30px;
        font-size: 15px;
        text-align: justify;
    }
    .about .about-content .text p:last-of-type{
        padding:0 15px;
        font-size: 14px;
        text-align: justify;
    }
}
/* End About */

/* Start Contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: 100px;
    background-color: var(--section-background);
}
.contact .info{
    text-align: center;
}
.contact .info .label{
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 20px;
    color: rgb(2, 0, 116);
}
.contact .info .link{
    text-decoration: none;
    font-size: 29px;
    font-weight: 700;
    color: var(--main-color);
}

.contact .info .social{
    font-size: 14px;
    margin-top: 25px;
}
.contact .info .social i{
    margin-left: 7px;
    color: var(--secondary-color);
}

@media (max-width:768px){
    .contact .info .label{
        font-size: 24px;
    }
    .contact .info .link{
        font-size: 24px;
    }
    .contact .info .social{
        font-size: 11px;
    }
}
/* End Contact */

/* Start Footer */
.footer{
    background-color: rgb(26, 50, 59);
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 25px 10px;
}
.footer span{
    color: var(--main-color);
}
/* End Footer */
